{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <small class="text-muted">{{ post[2] }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post[1] }}</a></h2>
            <p class="article-content">{{ post[3] }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}