
{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post[8]) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('user_posts', username=post[6]) }}">{{ post[6] }}</a>
              <small class="text-muted">{{ post[2].split(' ', 1)[0] }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('post', post_id=post[0]) }}">{{ post[1] }}</a></h2>
            <p class="article-content">{{ post[3] }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}