{% extends "layout.html" %}
{% block content %}
	 <script type="text/javascript">
		$(document).ready(function () {
			$('select').selectize({
				sortField: 'text'
			});
		});
	</script>
	<div class="content-section">
		<h1>Volo #{{volo[0]}}</h1>
		<form method="POST" action="" enctype="multipart/form-data">
			{{ flightForm.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Info volo</legend>
				<div class="form-group">
					{{ flightForm.aeroportoPartenza.label(class="form-control-label") }}
					{% if flightForm.aeroportoPartenza.errors %}
						{{ flightForm.aeroportoPartenza(id="select-state", placeholder="Seleziona aeroporto di partenza...") }}
						<div class="invalid-feedback">
							{% for error in flightForm.aeroportoPartenza.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ flightForm.aeroportoPartenza( id="select-state") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ flightForm.timePartenza.label(class="form-control-label") }}
					{% if flightForm.timePartenza.errors %}
						{{ flightForm.timePartenza(class="form-control form-control-lg is-invalid", type="datetime-local") }}
						<div class="invalid-feedback">
							{% for error in flightForm.timePartenza.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ flightForm.timePartenza(class="form-control", type="datetime-local") }}
					{% endif %}

				</div>
				<div class="form-group">
					{{ flightForm.aeroportoArrivo.label(class="form-control-label") }}
					{% if flightForm.aeroportoArrivo.errors %}
						{{ flightForm.aeroportoArrivo(class="form-control is-invalid", id="select-state") }}
						<div class="invalid-feedback">
							{% for error in flightForm.aeroportoArrivo.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ flightForm.aeroportoArrivo( id="select-state") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ flightForm.timeArrivo.label(class="form-control-label") }}
					{% if flightForm.timeArrivo.errors %}
						{{ flightForm.timeArrivo(class="form-control form-control-lg is-invalid", type="datetime-local") }}
						<div class="invalid-feedback">
							{% for error in flightForm.timeArrivo.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ flightForm.timeArrivo(class="form-control", type="datetime-local") }}
					{% endif %}

				</div>
				<div class="form-group">
					{{ flightForm.aereo.label(class="form-control-label") }}
					{% if flightForm.aereo.errors %}
						{{ flightForm.aereo(class="form-control is-invalid", id="select-state") }}
						<div class="invalid-feedback">
							{% for error in flightForm.aereo.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ flightForm.aereo( id="select-state") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ flightForm.prezzo.label(class="form-control-label") }}
					{{ flightForm.prezzo(class="form-control amount", type="number", min="0", step="0.01") }}         
				</div>
			</fieldset>
			<div class="form-group">
				{{ flightForm.submitFlight(class="btn btn-outline-info", value="Aggiorna") }}
			</div>
		</form>
	</div>

{% endblock content %}
