{% extends "layout.html" %}
{% block content %}
	<table class="table">
	  	<thead>
	    	<tr>
	      		<th scope="col">Aeroporto di Partenza</th>
	      		<th scope="col">Orario</th>
	      		<th scope="col">Aeroporto di Arrivo</th>
	      		<th scope="col">Orario</th>
	      		<th scope="col">Prezzo</th>
	      		<th scope="col">Posti Disponibili</th>
	    	</tr>
	  	</thead>
	  	<tbody>
	    	<tr>
	        	<td>{{ volo[1] }}</td>
	        	<td>{{ volo[2] }}</td>
	        	<td>{{ volo[3] }}</td>
	        	<td>{{ volo[4] }}</td>
	        	<td>{{ volo[5] }}</td>
	        	<td>{{ volo[7]}}/{{volo[6] }}</td>
	    	</tr>
      	</tbody>
    </table>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
		<div class="form-group">
			<fieldset class="form-group">
                <div class="form-group">
                    {{ form.bagaglio.label(class="form-control-label") }}
                    {{ form.bagaglio(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.posto.label(class="form-control-label") }}
					{{ form.posto(class="form-control form-control-lg") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
		</div>
	</form>

{% endblock content %}

